docker_fuelphp-master/mysql/
docker_fuelphp-master/www/
docker_fuelphp-master/tmp/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
docker_fuelphp-master/mysql/#ib_16384_0.dblwr
test/